@mixin button( $type: first ) {

    position: relative;
    display: inline-block;
    font-family: var( --font-family--default );
    font-size: var( --font-size--text );
    font-weight: var( --font-weight--default );
    line-height: calc( 22 / 19 );
    padding: 20px 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        margin: auto;
        background-color: var( --color--white );
        height: 0;
        padding-bottom: calc(100% + 50px);
        width: calc(100% + 50px);
        transform: scale(0);
        top: -25px;
        right: -25px;
        bottom: -25px;
        left: -25px;
        transition: transform .1s ease-in-out;
        opacity: 0.1;
    }
    &:hover,
    &:focus,
    &:active {
        &::after {
            transform: scale(1);
        }
    }

}
@mixin button-style( $style: first ) {

    @if( $style == first ) {
        background-color: var( --color-accent--first );
        color: var( --color--white );
    }
    @if( $style == second  ) {
        background-color: var( --color-accent--second );
        color: var( --color--white );
    }
    @if( $style == third  ) {
        background-color: var( --color-accent--third );
        color: var( --color--black );
    }
    @if( $style == fourth  ) {
        background-color: var( --color-accent--fourth );
        color: var( --color--black );
    }
    @if( $style == fifth  ) {
        background-color: var( --color-accent--fifth );
        color: var( --color--black );
    }

}

@mixin button-icon( $position, $icon ) {

}

button, input[type="button"], input[type="submit"] {
    @include button();
    @include button-style( $style: first );
}

section[data-section-background="color-accent--first"] {
    button, input[type="button"], input[type="submit"] {
        @include button-style( $style: second );
    }
}
section[data-section-background="color-accent--second"] {
    button, input[type="button"], input[type="submit"] {
    }
}
section[data-section-background="color-accent--third"] {
    button, input[type="button"], input[type="submit"] {
    }
}
section[data-section-background="color-accent--fourth"] {
    button, input[type="button"], input[type="submit"] {
    }
}
section[data-section-background="color-accent--fifth"] {
    button, input[type="button"], input[type="submit"] {
    }
}
