input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    margin-bottom: 10px;
    padding: 20px;
    min-width: 650px;
    line-height: 20px;
    color: var( --color-text--default );
    font-weight: var( --font-weight--default );
    font-size: var( --font-size--text );
    font-family: var( --font-family--default );
    background-color: var( --form-background--default );
    border: 1px solid var( --form-border--color-default );
    border-radius: var( --form-border--radius );
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
    transition: border-color .1s ease-in-out;
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder,
    &::placeholder {
        color: currentColor;
        opacity: 0.8;
    }
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=checkbox],
input[type=radio],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 102px;
}

input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
select:hover,
textarea:hover {
    border: 1px solid var( --form-border--color-hover );
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    border: 1px solid var( --form-border--color-focus );
}

label,
legend {
    display: block;
    margin-bottom: var( --form-label--margin-bottom );
    font-size: var( --form-label--font-size );
    font-weight: var( --form-label--font-weight );
    color: var( --form-label--color-default );
    text-transform: uppercase;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type=checkbox],
input[type=radio] {
    appearance: none;
    display: block;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    + label {
        position: relative;
        display: flex;
        align-items: center;
        font-size: var(--font-size--text);
        cursor: pointer;
        text-transform: none;
        &::before {
            content: "";
            display: inline-block;
            margin-right: 10px;
            font-size: 12px;
            text-align: center;
            border: 1px solid var( --form-border--color-default );
            transition: border-color .1s ease-in-out;
        }
        &:hover::before {
            border-color: var( --form-border--color-hover );
        }
        &:focus::before {
            border-color: var( --form-border--color-focus );
        }
    }
    &:focus + label {
        &::before {
            border-color: var( --form-border--color-focus );
        }
    }
}

input[type="checkbox"] {
    + label {
        &::before {
            min-width: 16px;
            min-height: 16px;
            padding: 4px;
            line-height: 16px;
            font-family: 'LinearIcons', sans-serif;
        }
    }
    &:checked + label {
        &::before {
            content: "\e934";
        }
    }
}
input[type="radio"] {
    + label {
        &::before {
            min-width: 24px;
            min-height: 24px;
            border-radius: 50%;
        }
        &::after {
            position: absolute;
            content: "";
            top: 7px;
            bottom: 7px;
            left: 7px;
            min-width: 12px;
            border-radius: 50%;
            transition: background-color .1s ease-in-out;
        }
    }
    &:checked + label {
        &::after {
            background-color: currentColor;
        }
        &:hover::after {
            background-color: var(--form-border--color-hover);
        }
    }
    &:focus + label, label:focus {
        &::before {
            border-color: var(--form-border--color-focus);
        }
        &::after {
            background-color: var(--form-border--color-focus);
        }
    }
}
