.form-standard {

    &__field {
        margin-bottom: 15px;

        &[data-field-status="success"] {

        }
        &[data-field-status="error"] {

        }

        &--hidden {
            margin-bottom: 0;
        }
        &--text {

        }
        &--email {

        }

        &--no-margin-bottom {
            margin-bottom: 0;
        }

    }
    &__status-holder {

    }

}
